// Add any custom Sass & CSS here

.sections {
    padding-top: 0;
    padding-bottom: 280px;
}

.title-bar {
    transition: padding-top 0.3s, padding-bottom 0.3s;

    &.small {
        padding-top: 0;
        padding-bottom: 0;
    }

    a.active {
        text-decoration: underline;
    }
}

.divider {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('../data/bleeder.jpg');
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 40vh;
    margin: 150px 0 100px;
    width: 100%;
}

.row {
    padding-top: 50px;
}
